<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head.ejs') %>

</head>

<body>
  <!-- Header -->
  <%- include('partials/header.ejs',{user:user, admin:admin}) %>
  <!-- /Header -->

  <!-- Main -->
    <div class="container-fluid conteiner-carrito ">
      <img src="/images/carrito/techo.png" class="fondo-carrito" alt="techo carrito">
    </div>
    <div class="container general">
      <div class="row my-5">
        <div class="col-12 col-md-8">
          <div class="row border-bottom my-3">
            <div class="col-4"><h3>Imagen</h3></div>
            <div class="col-2"><h3>Producto</h3></div>
            <div class="col-2"><h3>Precio unitario</h3></div>
            <div class="col-2"><h3>Cantidad</h3></div>
            <div class="col-2"><h3>Precio total</h3></div>
          </div>

          <%shopping.forEach(shop=>{%>
          <div class="row border-bottom my-3">
            <div class="col-4"><h3><img src="/images/upload/<%=shop.image_lg%>" class="ejemplo-foto-carrito"></h3></div>
            <div class="col-2 my-auto"><h3><nombre></h3><%=shop.name%></div>
            <div class="col-2 my-auto color-darkred"><h3>$<%=shop.price%></h3></div>
            <div class="col-2 my-auto" >
              <form action="/carrito/modificacion?_method=PUT" method="POST">
                <input type="number" name="cant" value="<%=shop.cant%>" class="w-50" min="1" max="10">
                <%- include('partials/inputs.ejs', {product:shop})%>
                <button style="border:none;" ><i class="fas fa-sync text-success"></i></button>
              </form>
          </div>
            <div class="col-1 my-auto color-darkred"><h3>$<%=shop.total%></h3></div>
            <div class="col-1 my-auto" >
              <form action="/carrito" method="POST">
              <input type="hidden" name="id" value="<%=shop.id%>">
              <button class="btn btn-danger btn-sm mx-3"><h3>x</h3></button>
            </form></div>
          </div>
          <%})%>
          <!--LLENAR CON PRODUCTOS AQUI-->
          <!--
          <div class="row border-bottom my-3">
            <div class="col-4"><h3>IMAGEN DEL PRODUCTO</h3></div>
            <div class="col-2"><h3>NOMBRE</h3></div>
            <div class="col-2"><h3>PRECIO UNITARIO</h3></div>
            <div class="col-2"><h3>CANTIDAD DEL PRODUCTO</h3></div>
            <div class="col-2"><h3>PRECIO TOTAL DE ESA CATEGORIA</h3></div>
          </div>-->
        </div>
        <div class="col-12 col-md-4">
           <div class="card">
            <div class="card-body">
            <h5 class="card-title tam-text">Total de la compra</h5>
            <p class="card-text color-darkred"><b>$<%=total%></b></p>
             <a href="#" class="btn btn-info my-2">Finalizar compra</a>
        </div>
    </div>
  </div>
        </div>
      </div>
      
    </div>
  <!-- Main -->

  <!-- footer -->
  <%- include('partials/footer.ejs') %>
  <!-- /footer -->
 
 
</script>
</body>

</html>