<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <!-- Header -->
    <%- include('../partials/header.ejs', {user:user, admin:admin}) %>
    <!-- /Header -->

    <!-- Main -->
    <main>
        <div class="container general my-4 reset-link">
            <div class="row">
                <div class="titulo-productos titulo-detalle col-12 mb-2">
                    <h2 class="text-capitalize">
                        <a href="/" class="filtro-lg" >Home/</a> 
                        <a href="/productos" class="filtro-lg">Productos/</a> 
                        <a href="/productos/<%= product.id %>" class="filtro-lg"><%= product.name %></a>
                    </h2>
                </div>

                <!-- Problema con responsive en div.product-detail a solucionar -->
                
                <div class="product-detail-card row mb-5">
                    <div class="porduct-images mb-3 col-12 col-lg-8 image-wrap">
                        <div class="first-product-image mb-3 image"></div>
                        <div class="more-product-images d-flex">
                            <div>
                                <div class="other-product-image firstImg d-cots ">
                                    <img src="/images/upload/<%= product.image_lg%>" class="image-first selectImg" alt="<%= product.name %>">
                                </div>
                                <div class="other-product-image secondImg d-cots">
                                    <img src="/images/upload/<%= product.image%>" class="image-second" alt="<%= product.name %>">
                                </div>    
                                <div class="other-product-image thirdImg d-cots">
                                    <img src="/images/upload/<%= product.image_lg%>" class="image-third" alt="<%= product.name %>">
                                </div>
                                <div class="other-product-image quarterImg d-cots">
                                    <img src="/images/upload/<%= product.image%>" class="image-quarter" alt="<%= product.name %>">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-lg-2">

                    </div> -->


                    <div class="product-information col-12 col-lg-4">
                        <h1 class="text-size-26"><%= product.name %> </h1>
                        <h2 class="precio-producto text-size-23">$<%= product.price %></h2>
                        <p><%= product.description %></p>
                        <div class="cantidad-producto mb-4">
                            <%- include('../partials/inputSpinner.ejs', {product:product}) %>
                        </div>
                        <p><%= product.info %></p>
                        <p><b>Categoría: </b><%= product.category.name %></p>
                        <p><b>Nombre: </b><%= product.name %></p>
                        <p class="share-logos"><b>Compartir: </b>
                            <a href="#"><i class="logo-redes-facebook fab fa-facebook-f"></i></a>
                            <a href="#"><i class="logo-redes-instagram fab fa-instagram"></i></a>
                            <a href="#"><i class="logo-redes-twitter fab fa-twitter"></i></a>
                            <a href="#"><i class="logo-redes-google fab fa-google-plus-g"></i></a>
                            <a href="#"><i class="logo-redes-email far fa-envelope"></i></a>
                            <a href="#"><i class="logo-redes-whatsapp fab fa-whatsapp"></i></a>
                        </p>
                    </div>
                </div>

               
                
                <!-- Productos seleccionados -->

                <div class="more-products col-12 border-top pt-5">
                    <div class="title-products-related col-12 mb-4">
                        <h2>Productos seleccionados</h2>
                    </div>
                    <div class="productos-recomendados">
                        <div class="row">
                            <% productsRelated.forEach(productRelated => { %>
                                
                                <a class="link-product-related" href="/productos/<%= productRelated.id %>">
                                    <div class="col-12 col-sm-4 col-lg-3">
                                        <div class="card tarjetas-productos product-card-inProductDetail">
                                            <div class="imagen-producto-productos">
                                                <img class="card-img-top imagen-producto-producto" src="/images/upload/<%= productRelated.image_lg %>"
                                                    alt="imagen de <%= productRelated.name %>">
                                            </div>
                                            <div class="card-body position-relative">
                                                <div class="d-flex justify-content-between ">
                                                    <div class="titulo-precio">
                                                        <p class="titulo-producto"><%= productRelated.name %></p>
                                                        <p class="precio-producto">$<%= productRelated.price %></p>
                                                    </div>
        
                                                    <div class="add-to-cart-products">
                                                        <a href="#"><i class="fas fa-shopping-cart fa-2x"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                
                            <% }) %>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </main>

    <!-- Main -->

    <!-- footer -->
    <%- include('../partials/footer.ejs') %>
    <!-- /footer -->
    <script src="/js/products/medium-zoom.min.js"></script>
    
    <script src="/js/products/detailProducts.js"></script>
    <script>
        let img = document.querySelector('div.image')
        img.style.backgroundImage="url('/images/upload/<%= product.image_lg%>')"
        let firstImg = document.querySelector('.firstImg')
        let secondImg = document.querySelector('.secondImg')
        let thirdImg = document.querySelector('.thirdImg')
        let quarterImg = document.querySelector('.quarterImg')
        let flag=0

        if(flag!=1){
            firstImg.addEventListener('click', ()=> {
                
                switch(flag){
                    case 0: document.querySelector('.image-first').classList.remove('selectImg');
                    break;
                    case 2: document.querySelector('.image-second').classList.remove('selectImg');
                    break;
                    case 3: document.querySelector('.image-third').classList.remove('selectImg');
                    break;
                    case 4: document.querySelector('.image-quarter').classList.remove('selectImg');
                    break;
                }
                document.querySelector('.image-first').classList.add('selectImg')
                img.style.backgroundImage="url('/images/upload/<%= product.image_lg%>')"
                console.log(flag)
                flag=1
                console.log(flag)
            })
        }
        
        if(flag!=2){
            secondImg.addEventListener('click', ()=> {
                
                switch(flag){
                    case 0: document.querySelector('.image-first').classList.remove('selectImg');
                    break;
                    case 1: document.querySelector('.image-first').classList.remove('selectImg');
                    break;
                    case 3: document.querySelector('.image-third').classList.remove('selectImg');
                    break;
                    case 4: document.querySelector('.image-quarter').classList.remove('selectImg');
                    break;
                }
                document.querySelector('.image-second').classList.add('selectImg')
                img.style.backgroundImage="url('/images/upload/<%= product.image%>')"
                console.log(flag)
                flag=2
                console.log(flag)
            })
        }
        
        if(flag!=3){
            thirdImg.addEventListener('click', ()=> {
                
                switch(flag){
                    case 0: document.querySelector('.image-first').classList.remove('selectImg');
                    break;
                    case 1: document.querySelector('.image-first').classList.remove('selectImg');
                    break;
                    case 2: document.querySelector('.image-second').classList.remove('selectImg');
                    break;
                    case 4: document.querySelector('.image-quarter').classList.remove('selectImg');
                    break;
                }
                document.querySelector('.image-third').classList.add('selectImg')
                img.style.backgroundImage="url('/images/upload/<%= product.image_lg%>')"
                console.log(flag)
                flag=3
                console.log(flag)
            })
        }
        
        if(flag!=4){
            quarterImg.addEventListener('click', ()=> {
                
                switch(flag){
                    case 0: document.querySelector('.image-first').classList.remove('selectImg');
                    break;
                    case 1: document.querySelector('.image-first').classList.remove('selectImg');
                    break;
                    case 2: document.querySelector('.image-second').classList.remove('selectImg');
                    break;
                    case 3: document.querySelector('.image-third').classList.remove('selectImg');
                    break;
                }
                img.style.backgroundImage="url('/images/upload/<%= product.image%>')"
                document.querySelector('.image-quarter').classList.add('selectImg')
                console.log(flag)
                flag=4
                console.log(flag)
            })
        }

                        // if(flag==1){
            // secondImg.innerHTML = `<img src="/images/upload/<%= product.image_lg%>" class="image-second" alt="<%= product.name %>">`
            // img.style.backgroundImage="url('/images/upload/<%= product.image%>')"
            // flag=2
            // } else {
            // secondImg.innerHTML = `<img src="/images/upload/<%= product.image%>" class="image-second" alt="<%= product.name %>">`
            // img.style.backgroundImage="url('/images/upload/<%= product.image_lg%>')"
            // flag=1
            // }
        
    </script>
</body>

</html>