<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <!-- Header -->
    <%- include('../partials/header.ejs', {user:user, admin:admin}) %>
    <!-- /Header -->

    <!-- Main -->
    <main>
        <div class="h container general my-4 reset-link">
            <div class="row">

                <%- include('./productsPartials/card.ejs') %>

                <!-- Productos seleccionados -->

                <%- include('./productsPartials/related.ejs') %>

            </div>
        </div>
    </main>

    <!-- Main -->

    <!-- footer -->
    <%- include('../partials/footer.ejs') %>
    <!-- /footer -->

    <%- include('./productsPartials/imagesScripts.ejs') %>


</body>

</html>