<!DOCTYPE html>
<html>

<head>
    <%- include('../../partials/head.ejs') %>
</head>

<body>
    <!-- Header -->
    <%- include('../../partials/header.ejs', {user: user, admin: admin}) %>
    <!-- /Header -->

    <!-- Main -->
    <main>
        <div class="h container general my-4 reset-link">
            <div class="row">

                <!-- Producto -->
                <%- include('../productsPartials/card.ejs', {userType: "/admin"}) %>
                <!-- /Producto -->

                <!-- Editar producto -->
                <div class="edit-delete d-flex justify-content-end align-items-end col-12 my-2">
                    <a href="/admin/productos/<%= product.id %>/editar"><button type="submit" class="btn btn-info mt-4">Editar producto</button></a>
                </div>
                <!-- /Editar producto -->
                
                <!-- Productos recomendados -->
                <%- include('../productsPartials/related.ejs', {userType: "/admin"}) %>
                <!-- /Productos recomendados -->

            </div>
        </div>


    </main>

    <!-- Main -->

    <!-- footer -->
    <%- include('../../partials/footer.ejs') %>
    <!-- /footer -->

    <!-- Scripts -->
    <%- include('../productsPartials/imagesScripts.ejs') %>
    <!-- /Scripts -->
    
</body>

</html>