<div class="filtro-sm d-lg-none w-100">
    <div class="col-12 d-flex justify-content-center">
        <form action="/productos" method="GET">
            <div class="col-12">
                <select name="filter">
                    <%if (typeof categoryFilter != 'undefined') {%>
                        <option class="tituloFiltrar" selected disabled><%=categoryFilter%></option>
                    <%} else {%>
                        <option class="tituloFiltrar" selected disabled>Tipo de producto</option>
                    <%}%>
                    <%categories.forEach(category => {%>
                        
                    <option value="<%=category.id%>" id=""><%=category.name%></option>
                    
                <%})%>
                </select>
            </div>
            <div class="col-12">
                <select name="filterPriceMin" id="">
                    <% if (typeof filterPriceMin != 'undefined') {%>
                    <option value="" selected disabled>$<%=filterPriceMin%></option>
                    <%} else {%>
                    <option value="" selected disabled>Min</option>
                    <%}%>
                    <option value="100" id="">desde $100</option>
                    <option value="500" id="">desde $500</option>
                    <option value="1000" id="">desde $1000</option>
                </select>
            </div>
            <div class="col-12">
                <select name="filterPriceMax" id="">
                    <% if (typeof filterPriceMax != 'undefined') {%>
                        <option value="" selected disabled>$<%=filterPriceMax%></option>
                        <%} else {%>
                        <option value="" selected disabled>Max</option>
                        <%}%>
                    <option value="500" id="">hasta $500</option>
                    <option value="1000" id="">hasta $1000</option>
                    <option value="1500" id="">hasta $1500</option>
                    <option value="2000" id="">hasta $2000</option>
                </select>
            </div>
            <div class="filtrar-producto-sm col-12">
                <button type="submit">Filtrar</button>
            </div>
        </form>
    </div>