<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head.ejs') %>
</head>

<body>
  <!-- Header -->
  <%- include('../partials/header.ejs', {user: undefined}) %> <!-- Lo cambié a undefined -->
  <!-- /Header -->

  <!-- Main -->
  <div class="container-fluid fondo-login general">
    <div class="container formulario-login">
      <h3 class="text-center text-danger">Para comprar algún producto usted tiene que tener una cuenta.</h3>
      <% if (logueo == false){%>
        <h3 class="text-center text-danger">No hay concidencia de usuario y contraseña.</h3>  
      <% } %>

      <div class="show-errors">
        <% if (typeof errors != 'undefined') { %>
          <p style="color: red">ERROR</p>
          <ul>
            <% errors.forEach(error => { %>
              <li>
                <%= error.msg %>
              </li>
            <% }) %>
          </ul>
        <% } %>
      </div>

      <form action="/usuarios/login" method="POST">
        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <input type="text" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="<%=data.email%>">
          <small id="emailHelp" class="form-text text-muted">Coloque el e-mail con el que se ha registrado</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Contraseña</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" name="remember" value="yes" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Recordarme</label>
        </div>
        <small id="emailHelp" class="form-text text-muted my-2">Si no estás registrado puede registrarse con unos
          simples pasos. Pulse "registrarme"!</small>
        <div class="d-flex" style="justify-content: flex-end;">
          <button type="submit" class="btn btn-info mx-1">Entrar</button>
          <a type="submit" class="btn btn-primary registrarme" href="/usuarios/registro">Registrarme</a>
        </div>

      </form>
    </div>
  </div>
  <!-- Main -->

  <!-- footer -->
  <%- include('../partials/footer.ejs') %>
  <!-- /footer -->

</body>

</html>