<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head.ejs') %>
</head>

<body>
    <!-- Header -->
    <%- include('partials/header.ejs',{user:user}) %>
    <!-- /Header -->

    <!-- Main -->
    <div class="container-fluid fondo-registro general">
        <div class="container formulario-crear-producto">

            <form action="/productos/crear" method="POST" enctype="multipart/form-data">

                <h1>Formulario de creación de producto</h1>
                <div class="form-row">
                    <div class="form-group col-12 col-md-8">
                        <label for="inputTitle">Nombre del producto</label>
                        <input type="text" placeholder="Ej: Torta Selva Negra grande" class="form-control" id="inputTitle" aria-describedby="" name="title">

                    </div>
                    <div class="form-group col-12 col-md-4">
                        <label for="inputPrice">Precio</label>
                        <input type="number" placeholder="Ej: 300 (solo números)" step="0.01" class="form-control" id="inputPrice" aria-describedby="" name="price">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDescription">Descripción</label>
                    <textarea type="text" placeholder="Ej: Bizcochuelo de chocolate con dos cortes. Uno con crema chantilly y cerezas al marrasquino; y el otro corte con dulce de frambuesas. Humedecida con almibar de cerezas. Cubierta con crema chantilly y virutas de chocolate al 70%." class="form-control" id="inputDescription" aria-describedby=""
                        name="description"></textarea>
                </div>
                <div class="form-row">
                    <div class="form-group col-9 col-md-5">
                        <label for="inputCategory">Categoría</label>
                        <select class="form-style" name="category" id="inputCategory">
                            <option value="">Selecionar categoría</option>
                            <% categories.forEach(category => { %>
                            <option value="<%= category %>"><%= category %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="form-group col-3 col-md-3">
                        <label for="inputSlices">Porciones</label>
                        <input type="number" placeholder="Ej: 10" step="1" min="0" class="form-control" id="inputSlices" aria-describedby=""
                            name="slices">
                    </div>

                    <div class="form-group col-12 col-md-4">
                        <label for="inputStock">Stock</label>
                        <input type="number" placeholder="Ej: 50" step="1" class="form-control" id="inputStock" aria-describedby="" name="stock">
                    </div>
                </div>

                <!-- Subir imagen con URL  -->
                <div class="form-row d-flex justify-content-between">
                    
                    <div class="custom-file upload-file1">
                        <input name="product-image" type="file">
                        <label for="inputImageLg" data-browse="Seleccionar" >Subir imagen principal del producto</label>
                    </div>
                    <div class="custom-file upload-file1">
                        <input name="product-image" type="file">
                        <label for="inputImageLg" data-browse="Seleccionar" >Subir imagen secundaria</label>
                    </div>
                </div>

                <!-- Subir imagen desde archivo -->
                <!-- <div class="form-row d-flex justify-content-between">
                    <div class="col-12">
                        <label for="">Subir imagenes del producto</label>
                    </div>
                    <div class="custom-file upload-file1">
                        <input name="imageLg" type="file" class="custom-file-input" id="inputImageLg">
                        <label class="custom-file-label" for="inputImageLg" data-browse="Seleccionar">Subir imagen principal del producto</label>
                    </div>
                    <div class="custom-file upload-file2">
                        <input name="image" type="file" class="custom-file-input" id="inputImage">
                        <label class="custom-file-label" for="inputImage" data-browse="Seleccionar">Subir otra imagen del producto</label>
                    </div>
                </div> -->

                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-info mt-4">Crear producto</button>
                </div>

            </form>

        </div>
    </div>
    <!-- Main -->

    <!-- footer -->
    <%- include('partials/footer.ejs') %>
    <!-- /footer -->

</body>

</html>