<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head.ejs') %>
</head>

<body>
  <!-- Header -->
  <%- include('partials/header.ejs') %>
  <!-- /Header -->

  <!-- Main -->
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <!-- Main -->

  <!-- footer -->
  <%- include('partials/footer.ejs') %>
  <!-- /footer -->

</body>

</html>