<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head.ejs') %>
</head>

<body>
    <!-- Header -->
    <%- include('partials/header.ejs') %>
    <!-- /Header -->

    <!-- Main -->
    <main>
        <div class="container general my-4 reset-link">
            <div class="row">
                <div class="titulo-productos titulo-detalle col-12">
                    <h2 class="text-capitalize">
                        <a href="/">Home</a> /
                        <a href="/productos">Productos</a> /
                        <a href="/productos/detalle/<%= product.id %>"><%= product.title %></a>
                    </h2>
                </div>

                <div class="productDetail">
                    <div class="porduct-images mb-3 col-12">
                        <div class="first-product-image mb-3">
                            <img src="<%= product.imageLg %>" alt="<%= product.title %>">
                        </div>
                        <div class="more-product-images d-flex">
                            <div class="other-product-image mr-3">
                                <img src="<%= product.image%>" alt="<%= product.title %>">
                            </div>
                            <div class="other-product-image">
                                <img src="<%= product.image %>" alt="<%= product.title %>">
                            </div>
                        </div>
                    </div>


                    <div class="product-information col-12">
                        <h1><%= product.title %> </h1>
                        <h2 class="precio-producto"><%= product.price %></h2>
                        <p><%= product.description %></p>
                        <div class="cantidad-producto mb-4">
                            <%- include('partials/inputSpinner.ejs') %>
                        </div>
                        <p><%= product.info %></p>
                        <p><b>Categoría: </b><%= product.category %></p>
                        <p><b>Nombre: </b><%= product.title %></p>
                        <p><b>Compartir: </b>
                            <a href=""><i class="logo-redes-facebook fab fa-facebook-f"></i></a>
                            <a href=""><i class="logo-redes-instagram fab fa-instagram"></i></a>
                            <a href=""><i class="logo-redes-twitter fab fa-twitter"></i></a>
                            <a href=""><i class="logo-redes-google fab fa-google-plus-g"></i></a>
                            <a href=""><i class="logo-redes-email far fa-envelope"></i></a>
                            <a href=""><i class="logo-redes-whatsapp fab fa-whatsapp"></i></a>
                        </p>
                    </div>
                </div>


                <!-- Productos seleccionados -->

                <div class="more-products col-12 border-top pt-3">
                    <h2>Productos seleccionados</h2>
                    <div class="productos-recomendados">
                        <% productsRelated.forEach(productRelated => { %>
                            
                            <a href="/productos/detalle/<%= productRelated.id %>">
                                <div class="col-12 col-sm-6 col-lg-4">
                                    <div class="card tarjetas-productos">
                                        <div class="imagen-producto-productos">
                                            <img class="card-img-top imagen-producto-producto" src="<%= productRelated.image %>"
                                                alt="imagen de <%= productRelated.title %>">
                                        </div>
                                        <div class="card-body position-relative">
                                            <div class="d-flex justify-content-between ">
                                                <div class="titulo-precio">
                                                    <p class="titulo-producto"><%= productRelated.title %></p>
                                                    <p class="precio-producto">$<%= productRelated.price %></p>
                                                </div>
    
                                                <div class="add-to-cart-products">
                                                    <a href="#"><i class="fas fa-shopping-cart fa-2x"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>

                        <% }) %>
                    </div>
                </div>

            </div>
        </div>


    </main>

    <!-- Main -->

    <!-- footer -->
    <%- include('partials/footer.ejs') %>
    <!-- /footer -->
</body>

</html>