<!DOCTYPE html>
<html>

<head>
	<%- include('partials/head.ejs') %>
</head>

<body>
	<!-- Header -->
	<%- include('partials/header.ejs',{user:user}) %>
	<!-- /Header -->

	<!-- Main -->
	<div class="container-fluid general my-4 reset-link">
		<div class="row">

			<div class="filtro-sm d-lg-none w-100">
				<div class="col-12 d-flex justify-content-center">
					<form action="">
						<div class="col-12">
							<select name="filter" id="">
								<%if (typeof filter != 'undefined') {%>
									<option class="tituloFiltrar" selected disabled><%=filter%></option>
								<%} else {%>
									<option class="tituloFiltrar" selected disabled>Tipo de producto</option>
								<%}%>
								<%categories.forEach(category => {%>
									<%if (filter != category) {%>
								<option value="<%=category%>" id=""><%=category%></option>
									<%}%>
							<%})%>
							</select>
						</div>
						<div class="col-12">
							<select name="filterPriceMin" id="">
								<% if (typeof filterPriceMin != 'undefined') {%>
								<option value="" selected disabled>$<%=filterPriceMin%></option>
								<%} else {%>
								<option value="" selected disabled>Min</option>
								<%}%>
								<option value="100" id="">desde $100</option>
								<option value="500" id="">desde $500</option>
								<option value="1000" id="">desde $1000</option>
							</select>
						</div>
						<div class="col-12">
							<select name="filterPriceMax" id="">
								<% if (typeof filterPriceMax != 'undefined') {%>
									<option value="" selected disabled>$<%=filterPriceMax%></option>
									<%} else {%>
									<option value="" selected disabled>Max</option>
									<%}%>
								<option value="500" id="">hasta $500</option>
								<option value="1000" id="">hasta $1000</option>
								<option value="1500" id="">hasta $1500</option>
								<option value="2000" id="">hasta $2000</option>
							</select>
						</div>
						<div class="filtrar-producto-sm col-12">
							<button type="submit">Filtrar</button>
						</div>
					</form>
				</div>
				<!--Agregue esta columna para separar los filtros de la izquierda-->
			</div>
			<div class="col-lg-1 ">
				<p> </p>
			</div>
				
			<div class="filtro-lg d-none d-lg-block col-lg-2">
				<div class="">
					

					<div class="tipo-producto-filtro">
						<p><b>Tipo de producto:</b></p>
						<ul class="lista-filtro-productos">
							
							<% categories.forEach(category => { %>
							<form action="/productos" method="GET">
								<% if (typeof filterPriceMin != 'undefined') {%>
								<input type="hidden" name="filterPriceMin" value="<%=filterPriceMin%>">
								<input type="hidden" name="filterPriceMax" value="<%=filterPriceMax%>">
								<%}%>
								<li class="lista-filtro-productos my-1">
									<button class="transparentButtom" name="filter" value="<%= category %>"><%= category %>
									</button>
								</li>
							</form>
							<% }) %>
						</ul>
					</div>
					<div class="precio-producto-filtro">
						<p><b>Precios:</b></p>
						<form action="/productos" method="GET">
							<% if (typeof filter != 'undefined') {%>
							<input type="hidden" name="filter" value="<%=filter%>">
							<%}%>
							<input type="number" name="filterPriceMin" class="price-filter_value" value="" placeholder="Mín" min="0" max="10000" required>
							<input type="number" name="filterPriceMax" class="price-filter_value" value="" placeholder="Máx" min="0" max="10000" required>
							<button type="submit" class="transparentButtom"><i class="fas fa-arrow-circle-right"></i></button>
						</form>						
					</div>
					<%if (typeof filter != 'undefined') {%>
						<div class="alert alert-dark general my-3 d-block bottomFilter" role="alert">
							<%if (typeof filterPriceMin != 'undefined') {%>		
								<p><%=filter%> <a class="text-danger" href="/productos?filterPriceMin=<%=filterPriceMin%>&filterPriceMax=<%=filterPriceMax%>">x</a></p>
							<%} else {%>
								<p><%=filter%> <a class="text-danger" href="/productos">x</a></p>	
							<%}%>	
						</div>
					<%}%>
					<%if (typeof filterPriceMin != 'undefined') {%>
						<div class="alert alert-dark general my-3 d-block bottomFilter" role="alert">
							<%if (typeof filter != 'undefined') {%>
							<p><%=filterPriceMin%>-<%=filterPriceMax%> <a class="text-danger" href="/productos?filter=<%=filter%>">x</a></p>
							<%} else {%>
							<p>Min <%=filterPriceMin%> <a class="text-danger" href="/productos">x</a></p>
							<%}%>	
						  </div>
					<%}%>
					
					<div>

					</div>
				</div>
			</div>
			
			<div class="main-products col-12 col-lg-8">

				<div
					class="cartel-aviso-productos d-none d-lg-block text-center p-2 tex mb-3">
					<p>Tené en cuenta que los pedidos son con 48 hs de anticipación en el caso de la línea de
						Pasteliería Dulce <br> y 72 hs en la línea de Pastelería Salada.<br>Los pedidos son procesados de
						lunes a viernes de 9 a 18 hs.</p>
				</div>

				<div class="titulo-productos">
					<h1><a href="/">Home</a>/<a href="/productos">Productos</a></h1>
				</div>

				<%if (typeof cant != 'undefined') {%>
				<div>
					<p><b>Se ha encontrado <%=cant%> para tu busqueda:</b></p>
				</div>
				<%}%>
				<div class="allProducts row">
				<%if (products.length == 0) {%>
					<div class="w-100">
						<h4 class="text-danger" style="line-height: 100px; text-align: center;"><b>No se han encontrado productos</b></h4>
					</div>
				<%}%>
					<% products.forEach(product => { %>
						<a href="/productos/detalle/<%= product.id %>">
							<div class="col-12 col-sm-6 col-lg-4">
								<div class="card tarjetas-productos product-card-inProducts my-5">
									<div class="imagen-producto-productos">
										<img class="card-img-top imagen-producto-producto" src="<%= product.image %>"
											alt="imagen de <%= product.title %>">
									</div>
									<div class="card-body position-relative">
										<div class="d-flex justify-content-between ">
											<div class="titulo-precio">
												<p class="titulo-producto"><%= product.title %></p>
												<p class="precio-producto">$<%= product.price %></p>
											</div>

											<div class="add-to-cart-products">
												<a href="#"><i class="fas fa-shopping-cart fa-2x"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</a>
					<% }) %>
					
				</div>
			</div>
		</div>

	</div>
	<!-- Main -->

	<!-- footer -->
	<%- include('partials/footer.ejs') %>
	<!-- /footer -->

</body>

</html>